{
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "auto",
  "tabWidth": 2,
  "printWidth": 120,
  "arrowParens": "always",
  "bracketSpacing": true,
  "proseWrap": "never",
  "semi": true
}